<table class="table">
    <thead>
        <th class="col-md-2">User</th>
        <% for i in 1..@problems %>
            <th class="text-center">#<%= i %></th>
        <%end%>
        <th class="col-md-1">Score</th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td>
                    <%= user['sid'].upcase%>
                    <%= user['ac_count'] %>
                </td>
                <% user['ac'].each do |ac| %>
                    <% if ac==1 %>
                        <td class="bg-success text-center"><strong>AC</strong></td>
                    <%else%>
                        <td class="text-center"><strong>--</strong></td>
                    <%end%>
                <%end%>
                <td>
                    <%= user['score'] %>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>
