<div class="text-center"><img src="/assets/banner.png" /></div>
<div class="col-12 text-center"><h1>高大資工競程第一次小考<h1></div>
<p>這個小考只是要看看大家的能力到哪裡，方便日後排課而已。所以壓力不需要太大，沒解多少出來也不要灰心，放輕鬆享受解題的成就感吧。</p>
<hr>
<h3>注意事項</h3>
<ul style="line-height: 1.8em">
    <li>因為是線上考試，所以你要查什麼資料都可以</li>
    <li>更新Judge結果請按重新整理或是F5</li>
    <li>一樣的Code系統不會讓你再交一次，請變換寫法之後再試試看</li>
    <li>建議在其他地方打好Code再貼到這裡，不要直接打在這裡</li>
    <li class="text-danger">少空格/少換行都會被當作WA，記得看清楚輸出格式哦</li>
    <li class="text-danger">system("pause")記得移除，不然會TLE</li>
    <li class="text-danger">用VisualStudio的人記得把#include "stdafx.h"拿掉，不然會CE</li>
    <li>左上角有一個小時鐘提醒你剩下多久時間，時間到了就不能再傳任何Code</li>
    <li>考試期間不限次數登入，但考試結束了就不能再登入</li>
    <li>如果網站出現什麼奇怪的Bug就.....按F5吧</li>
    <li>再不行的話可以用任何方式聯絡我，我都會在</li>
    <li>這個網站我沒有寫的很好，請不要玩壞他QQ</li>
</ul>
<h3>常見的Judge結果代碼</h3>
<ul style="line-height: 1.8em">
    <lI class="text-success">AC: Accepted</li>
    <li class="text-danger">WA: Wrong Answer</li>
    <li class="text-danger">CE: Compile Error</li>
    <li class="text-danger">TLE: Time Limit Exceeded</li>
    <li class="text-danger">RE: Runtime Error</li>
    <li>除了第一個以外都算錯誤</li>
</ul>
<h3>Judge端規格</h3>
<ul style="line-height: 1.8em">
    <li>64-bits<i class="fa fa-linux" aria-hidden="true"></i>Linux system</li>
    <li>At least 2GB free memory</li>
    <li>Compiler: GNU-GCC 7.2.0</li>
    <li>Compiling arguments of C: gcc -O2 -std=c11 -static</li>
    <li>Compiling arguments of C++: g++ -O2 -std=c++11 -static</li>
</ul>
<br>
<blockquote class="blockquote text-right">
  <p class="mb-0">未來是自己的，你認真練程式，就會有回報的，孩子們加油R</p>
  <footer class="blockquote-footer">小勛</footer>
</blockquote>
