<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright<i class="fa fa-copyright" aria-hidden="true"></i>2017 NUKCSIE
        <br>Design by ifTNT</a>
    </p>
</footer>
